.movie{
  border-top: 2px dashed black;
  border-right: 2px dashed black;
  border-left: 2px dashed black;
  border-radius: 20px 20px 0% 0%;
}

ul {
  list-style: none;
}

.movieName{
  width: 100%;
}
ul li{
  margin: 2px;
}
ul li input{
  margin: 10px;
}
div li button{
  width: 100%;
}
.MovieImg img{
  width: 100%;
}
